hr {margin-top:5px; margin-bottom:5px;}
body {padding-top: 45px;}

.pagination {margin:0;}

#diamond-logo {padding: 5px 10px 5px 10px}

/* Pnotify Style Overwrite */
.ui-pnotify-closer {display: none;}
.ui-pnotify-icon {padding-top:5px;}

nav {}
header {}
aside {outline:1px solid #ccc;}
div[role=main]{outline:1px solid #ccc; padding:5px;}
footer {font-size: 10px; border-top: 1px solid #ccc; margin-top: 5px; background-color: #f5f5f5; padding:20px;}

/* Main Content Header */
#content-main-title h4 {margin: 0;margin-top: 5px;}
#content-main-info p {margin: 0;margin-top: 5px;}
#content-main-filters form {margin-bottom: 0;}
#content-main-filters select {width: auto;}

/* Data Grids */
.asc:after {content:'▲';}
.desc:after {content:'▼';}
.data-grid-actions2 {width:45px;}
.data-grid {border-bottom:1px solid #ddd;}
.data-grid th {background-color:#0088aa; color:#fff;}
.data-grid th a {color:#fff; text-decoration:none;}
.data-grid td a {color:#222; text-decoration:none;}

.action-group a {color:#222; text-decoration:none;}

/* Font Awesome Icon Size Overwrite */
[class^="icon-"],[class*=" icon-"] {font-size: 14px;}