hr {margin-top:5px; margin-bottom:5px;}
body {padding-top: 45px;}

.pagination {margin:0;}

#diamond-logo {padding: 5px 10px 5px 10px}

/* Pnotify Style Overwrite */
.ui-pnotify-closer {display: none;}
.ui-pnotify-icon {padding-top:5px;}

/* Template areas */
nav {font-variant:small-caps;text-transform: lowercase; font-size: 14px;}
header {}
aside {font-variant:small-caps;text-transform: lowercase; font-size: 14px;}
div[role=main]{outline:1px solid #ddd; padding:5px;}
footer {font-size: 10px; margin-top: 5px; padding:20px;}

/* Main Content Header */
#content-main-title h4 {margin: 0;margin-top: 5px;}
#content-main-info p {margin: 0;margin-top: 5px;}
#content-main-filters form {margin-bottom: 0;}

/* Data Grids */
.asc:after {content:'▲';}
.desc:after {content:'▼';}
.data-grid-actions2 {width:45px;}
.data-grid {border-bottom:1px solid #ddd;}
.data-grid th {background-color:#0088aa; color:#ffffff;}
.data-grid th a {color:#ffffff; text-decoration:none;}
.data-grid td {padding-right: 0px;}
.data-grid td a {color:#333333; text-decoration:none;}
.action-group a {color:#333333; text-decoration:none;}

/* Font Awesome Icon Size Overwrite */
[class^="icon-"],[class*=" icon-"] {font-size: 14px;}

/* Definition List Bottom Margin Overwrite */
dl {margin-bottom:10px;}

/* Datepicker  Icon Top Margin Fix */
.datepicker {padding:0;}
.datepicker i {margin-top: 3px;}

/* Custom Legend Class */
.legend {
	display: block;
	-webkit-padding-start: 2px;
	-webkit-padding-end: 2px;
	border-image: initial;
	width: 100%;
	padding: 0;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px; 
	font-weight: bold; 
	margin-bottom: 10px; 
	font-variant:small-caps; 
	text-transform: lowercase;
}